h2{
    text-align: center;
}
p{
    text-align: center;
}

#one{
    background-color: black;
    color: white;
    text-align: center;
}
#two{
    background-color: green;
    color: white;
    text-align: center;
}
#three{
    background-color: black;
    color: white;
    text-align: center;
}